*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #eff1fa;
}

header{
    padding-top: 10px;
    margin-left: 10px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left:  80px;
}

.entrada{
    color: #0a3871;
    border:none;
    margin-top: 30px;
    height: 400px;
    padding: 2px;
    text-transform: lowercase;
}

.entrada::placeholder{
    color: #0a3871;
}

.entrada:focus{
    outline: none;
    
}

.alerta{
    color: #495057;
    font-size: 16px;
    top: 600px;
    left: 90px;
    display: flex;
    background: none;
    
}

.mensaje{
    background-color: #FFFFFF;
    background-image:url(Muñecu.png);
    background-repeat: no-repeat;
    background-size:300px;
    background-position: center;
    color: #0a3871;
    border:none;
    border-radius: 25px;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position:absolute;
    width: 336px;
    height: 580px;
   
    
}

.mensaje::placeholder{
    color: black;
    font-weight: bold;
    padding-top: 120px;
    font-size: 23px;
    line-height: 80%;
    
}

.mensaje:focus{
    outline:none
}

.botones{
    
    margin-top: 18px;
    display: flex;
    
}

.btn-enc{
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color:#0a3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 24px;
    font-weight: bold;
}
    
.btn-enc:hover{
    background-color: #0a3871;
    color: white;
    transition: 0.6s;
}

.btn-enc:active{
    background-color:#343a40;
    transition: 0.1s;
}

.btn-des{
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color:#0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 24px;
    font-weight: bold;
     
}

.btn-des:hover{
    background-color: #0a3871;
    color: white;
    transition: 0.6s;
}

.btn-des:active{
    background-color:#343a40;
    transition: 0.1s;
}

.copiar{
    
    background: #d8dfe8;
    border: 1px  solid #0a3871;
    border-radius: 24px;
    color:#0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 512.8px;
    position:relative;
    width: 336px;
    font-size: 24px;
    font-weight: bold;
    visibility: hidden;
   
    
        
}

.copiar:hover{
    background-color: #0a3871;
    color: white;
    transition: 0.6s;
}

.copiar:active{
    background-color:#343a40;
    transition: 0.1s;
}


footer{
    text-align: center;
    padding:40px;
}

.copyright{
    font-family: "inter";
    color:#0a3871;
    font-size: 13px;
    margin:20px;
}

